---
import '../components/productos.scss'
---

<div class="contenedor">
    <div class="card" style="width: 18rem;">
        <img src="img/chamoy.jpg" class="card-img-top" alt="Chamoy m">
        <div class="card-body">
          <h5 class="card-title">Chamoy Medium</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/product" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img src="img/chamoy.jpg" class="card-img-top" alt="Chamoy L">
        <div class="card-body">
          <h5 class="card-title">Chamoy Large</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/product" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;">
        <img src="img/chamoy.jpg" class="card-img-top" alt="chamoy XL">
        <div class="card-body">
          <h5 class="card-title">Chamoy Extra Large</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/product" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>

